* {
    margin: 0;
    padding: 0;
    color: white;
}
  
body {
    background: #242425;
}

.generator {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: max-content;
    transform: translateX(-50%) translateY(-50%);
    min-height: 80%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.field {
    margin: 4em 0 2.5em;
}

.password {
    letter-spacing: 0.20em;
    font-family: monospace;
    font-size: 2em;
    background-color: #333335;
    border-radius: 8px;
    display: inline-block;
    padding: 0.5em;
    min-width: max-content;
    width: 27em;
    cursor: pointer;
    outline: none;
    margin: 0;
}

  input[type=range] {
    height: 7px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #ffb835;
    background: #FFB835;
    border: 0px solid #FFB835;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #FFB835;
    border: 7px solid #FFB835;
    height: 24px;
    width: 15px;
    border-radius: 14px;
    background: #ffb835;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #ffb835;
    background: #FFB835;
    border: 0px solid #FFB835;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #FFB835;
    border: 0px solid #FFB835;
    border-radius: 0 50px 50px 0;
    background: #ffb835;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #FFB835;
    border: 0px solid #FFB835;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #ffb835;
  }
  input[type=range]::-ms-fill-upper {
    background: #FFB835;
    border: 0px solid #FFB835;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #ffb835;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #FFB835;
    border: 0px solid #FFB835;
    height: 1px;
    width: 1px;
    border-radius: 0px;
    background: #FFB835;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #FFB835;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #FFB835;
  }

  
  /*Chrome*/
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      background-color: transparent;
      height: 1em;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      background: #333335;
    }
    
    input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      cursor: ew-resize;
      background-color: #ffb835;
      width: 2em;
      border: none
    }
}

/** FF*/
input[type="range"]::-moz-range-progress {
    background-color: #ffb835;
    height: 2em;
  }
  input[type="range"]::-moz-range-track {  
    background-color: #333335;
    height: 2em;

  }
  /* IE*/
  input[type="range"]::-ms-fill-lower {
    background-color: #ffb835;
    height: 2em;
  }
  input[type="range"]::-ms-fill-upper {  
    background-color: #333335;
    height: 2em;
  }


.password::selection {
    background-color: #b9ffff;
    color: #242425;
}

.field .fieldtext {
    display: none;
    position: absolute;
    right: 0;
    margin-top: -1.5em;
    color: #eee;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.field:hover .fieldtext.info.show {
    display: unset;
}

.field .fieldtext.notif {
  margin-top: -4.5em;
  color: #88ffff;
}

.generation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.generation .length {
    width: 77%;
}

.generation .length input#length {
    width: 75%;
}

.generation .length .output {
    display: inline-block;
    font-size: 1.3em;
    width: 1em;
    margin-right: 0.4em;
}

.generation .refresh {
    height: 1.5em;
    width: 1.5em;
    font-size: 2em;
    cursor: pointer;
    background-color: #FFB835;
    border-radius: 16px;
    border: none;
  }
  
  .generation .refresh img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.characters {
    font-size: 1.2em;
}

.characters div {
    display: inline;
}

.characters label {
    margin-right: 1em;
    margin-left: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

.characters input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;

    height: 15px;
    width: 15px;
    border-radius: 3px;
    background: #333335;
    border: none;
}

.characters input[type="checkbox"]:checked {
    opacity: 1;
    background: #FFB835;
}

 /* Écran moins large, diminution de la police */
 @media (max-width: 800px) {
    body {
        font-size: 0.8em;
    }
}

 /* Écran moins large, diminution de la largeur */
 @media (max-width: 700px) {
    .password {
        letter-spacing: 0px;
        max-width: max-content;
    }
}

 /* Écran moins large, diminution de la police */
 @media (max-width: 500px) {
    .password {
        font-size: 1.5em;
    }

    .generation {
        width: 75%;
    }

    .characters div {
        display: block;
    }

    .characters div:first-child {
        margin-top: 2.5em;
    }

    .characters label {
        top: -1.5em;
        left: 1.3em;
        position: relative;
    }
}

